<tr>
  <td class="date">
    <%= f.object.event&.date_range_s %>
  </td>
  <td class="name">
    <%= f.object.event&.name %>
  </td>
  <td><%= f.object.multiplier %></td>
</tr>
<%# TOOD: Remove safe nav. Why is there a calc event without an event? %>
