<tr>
  <td class="date">
    <%= calculations_event.event.date_range_s %>
  </td>
  <td class="name">
    <%= calculations_event.event.name %>
  </td>
  <td><%= calculations_event.multiplier %></td>
</tr>
