<tr>
  <td class="name">
    <%= editable_category_category.text_field :name %>
  </td>
  <td><%= editable_category_category.text_field :maximum_events %></td>
  <td><%= editable_category_category.check_box :reject %></td>
</tr>
