<% @page_title = "Calculations" %>

<% cache cache_key(@calculations) do %>
  <h2>Calculations</h2>

  <%= table id: "calculations", collection: @calculations, columns: 4 do %>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: "calculation", collection: @calculations.sort_by(&:name) %>
  <% end -%>
<% end -%>
