<% @page_title = "Calculations: #{@year}" %>

<% cache cache_key(@calculations) do %>
  <h2><%= @year %> Calculations</h2>

  <%- if @years&.many? -%>
    <%= tabs(@year) do |tabs|
      @years.sort.each do |year|
        tabs.add(
          year.to_s.titleize,
          calculations_path(year: year)
        )
      end
    end -%>
  <%- end -%>

  <%= table id: "calculations", collection: @calculations, columns: 4 do %>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: "calculation", collection: @calculations.sort_by(&:name) %>
  <% end -%>
<% end -%>
