<% @page_title = "Teams" %>

<p align="left">These are OBRA registered teams in the Oregon/SW Washington region.</p>

<p align="left">A list of <%= link_to "clubs rides", "http://#{STATIC_HOST}/teams/rides.html", :class => "obvious" %> is available if you're looking for a group ride.</p>

<table class="base" id="teams">
  <caption>Teams</caption>
  <tr>
    <th>Name</th>
    <th>Sponsors</th>
    <th>Website</th>
    <th>Contact</th>
    <th></th>
  </tr>
  <%= render :partial => "team", :collection => @teams.sort { |x, y| x.name.downcase <=> y.name.downcase || x <=> y } %>
  
  <% if @teams.empty? %>
  <tr>
    <td colspan="5">No members teams visible</td>
  </tr>
  <% end -%>
</table>
