<h3>Pages</h3>

<%= table :class => "pages", :id => :pages, :collection => @pages, :columns => 4 do %>
  <thead>
    <tr>
      <th class="icon"></th>
      <th class="title">Title</th>
      <th class="updated">Updated</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render @pages %>
  </tbody>
<% end -%>

<div class="row-fluid">
  <div class="span12">
    <%= link_to new_admin_page_path, :class => "btn", :id => "new_page" do %>
      <i class="icon-file"></i> New Page
    <% end %>
  </div>
</div>
