<tr valign="top" id="promoter_<%= promoter.id %>_row" class="<%= cycle("even", "odd") %>">
	<td><%= image_tag('/images/icons/person.gif', 
					  :height => 16, :width => 16, :border => 0, :align => "absbottom", 
					  :id => "promoter_#{promoter.id}") %></td>
	<td nowrap>
		<%= link_to(promoter.name, :action => 'show', :id => promoter.id) %>
	</td>
	<td nowrap>
		<%= promoter.phone %>
	</td>
	<td nowrap>
		<%= promoter.email %>
	</td>
</tr>