<h2><% if @person.member? -%>
  Your membership runs from <%= @person.member_from.to_s(:long) %> to <%= @person.member_to.to_s(:long) %>
<%- else -%>
  You are not a member
<%- end -%></h2>

<ul class="page-links">
  <li><%= link_to "Your Account", edit_person_path(@person) %></li>
  <li><%= link_to "#{RacingAssociation.current.name} Home", root_path %></li>
</ul>
