<% @page_title = "Reset Password" %>
<% @show_tabs = false %>

<div class="column_grid_container top_margin">
  <% form_tag password_resets_path do %>
    <div class="prepend-2 span-3 append-1 last">
      <%= labelled_text_field_tag :email, "Send password reset instructions to email address", @email, :label => { :class => "top" }, :class =>  "wants_focus" %>
    </div>
    <div class="prepend-2 span-2 append-2 last right">
      <%= submit_tag "Reset My Password", :class => :right %>
    </div>
  <% end %>
</div>
