<% @page_title = "Reset Password" %>
<% @show_tabs = false %>

  <div class="centered">
    <% form_tag password_resets_path do %>
      <label>Send password reset instructions to email address:</label>
      <%= text_field_tag "email" %>
      <div class="page_buttons last">
        <div class="last right" style=""><%= submit_tag "Reset My Password", :class => :right %></div>
      </div>
    <% end %>
</div>

<%= focus("email") %>
