*.bbprojectd
*.rbc
*.sublime-*
*.swp
*.tmproj
*sublime*
*~
.bundle
.envrc
.DS_Store
.gitmodules
.project
.ruby-gemset
.ruby-version
.rvmrc
.sass-cache
.tm_properties
._*
/.idea/
/local
chromedriver.log
db/*.sqlite3
db/acceptance_structure.sql
db/production.sql
doc/app
doc/README_FOR_APP
lib/registration_engine
libpeerconnection.log
local
log/*.log
log/acceptance
mkmf.log
public/export
public/export/*.csv
public/export/*.txt
public/local
public/uploads
results.csv
tmp/*
tmp/**/*
vendor/plugins/selenium-on-rails/log/
