language: ruby
cache: bundler
bundler_args: --without production,staging
services:
  - mysql
script: "bundle exec rake test:ruby && bundle exec rake && bundle exec rake test:acceptance"
before_install:
  - mysql -e 'drop database if exists racing_on_rails_test'
  - mysql -e 'create database if not exists racing_on_rails_test default character set utf8 collate utf8_unicode_ci'
  - mysql -e "grant all on racing_on_rails_test.* to 'ror_test'@'localhost'"
before_script:
  - bundle exec rake db:setup RAILS_ENV=test

rvm:
  - "2.4.1"

dist: trusty
sudo: false
