<% @page_title = 'First Aid' %>

<%= table :events, "#{Date.today.year} First Aid" do |t|
  t.column :first_aid_provider, :title => "Provider", :editable => true
  t.column :date, :format => :short_with_week_day
  t.column :name, :link => true
  t.column :city_state, :title => "Location"
end -%>

<div>
  <%= link_to 'Email', :action => 'first_aid_provider_email' %>
</div>
