<% table :caption => "Aliases", :class => "box-2 last aliases", :insert_header => true, :columns => 2 do %>
  <%- for name_alias in @racer.aliases -%>
  <tr id="alias_<%= name_alias.id %>">
    <td><%= name_alias.name %></td>
    <td>
      <%= link_to_remote(image_tag('/images/buttons/remove_solo.gif'), 
           :url => { :action => "destroy_alias", :id => @racer.id, :alias_id => name_alias.id },
           :html => { :class => "image" }) %>
    </td>
  </tr>
  <%- end -%>
  <%- if @racer.aliases.empty? %>
  <tr>
    <td colspan="2">None</td>
  </tr>
  <%- end -%>
<% end -%>
