<%= form_remote_tag(:url => {:action => 'update_name', :id => @racer.to_param}) %>
  <%= text_field_tag 'name', @racer.name, :size => 30, 
        :class => 'edit_in_place_text_field', 
        :style => "margin-left: 24px;",
        :id => "racer_#{@racer.id}_name_text_field" %><%= link_to_remote image_tag('/images/buttons/small_cancel.gif', :class => "cancel"), 
      { :update => "racer_#{@racer.id}_name", 
        :url => { :action => "cancel", :id => @racer.to_param} },
      { :class => "cancel" } %></form>
<script type="text/javascript" charset="utf-8">
  $('racer_<%= @racer.id %>_name_text_field').select();
</script>
