<a href="#" onclick="new Ajax.Updater('racer_<%= racer.id %>_name', '/admin/racers/edit_name/<%= racer.id %>', {asynchronous:false, evalScripts:true}); return false;"><%= 
  if racer.name.blank?
    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
  else
    racer.name 
  end
%></a>
