<tr>
  <td><%= link_to event_team_membership.event.name, event_path(event_team_membership.event) %></td>
  <td class="name"><%= link_to event_team_membership.team.name, team_path(event_team_membership.team) %></td>
</tr>
