<div class="container page-nav">
  <nav>
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li><%= 
            link_to RacingAssociation.current.short_name, root_path %></li><li><%= 
            link_to "Schedule", schedule_list_path, :class => "schedule_link" %></li><li><%= 
            link_to "Results", results_path, :class => "results_link" %></li><li><%= 
            link_to "Full Site", :mobile => nil, :full_site => "1" %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
