<% @page_title = "Article #{@article.title}" %>

<%= tabnav :article_categories %>
<br/>
<h3><%= @article.title %></h3>
<p><%= @article.body %></p>
<p><i>(last update: <%=h @article.updated_at.to_formatted_s(:short) %></i></p>
