<% @page_title = "Article #{@article.title}" %>

<h2><%= @article.title.html_safe %></h2>
<p><%= @article.body.html_safe %></p>
<p><em>(last update: <%=h @article.updated_at.to_formatted_s(:short) %>)</em></p>
