<%= table :caption => "People" do %>
  <th>&nbsp;</th>
  <%- people.each do |person| -%>
  <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to(
        person.name, 
        :url => { :action => "results", :person_id => person.id }, 
        :remote => true,
        :update => 'right_person',
        :before => visual_effect(:highlight, 'right_person', :to => 0.4),
        :complete => visual_effect(:appear, 'right_person'))
      %>
      <br>
      <small><%= [ person.team.blank? ? nil : person.team.name, person.city, person.racing_age ].compact.join(', ') %></small>
    </td>
  </tr>
  <%- end -%>
<% end -%>
