<h3>People</h3>
<%= table do %>
  <%- people.each do |person| -%>
  <tr>
      <td><%= link_to(
        person.name,
        admin_person_results_path(person, :format => "js"),
        :class => "find_person",
        :remote => true)
      %>
      <br/>
      <small><%= [ person.team.blank? ? nil : person.team.name, person.city, person.racing_age ].compact.join(', ') %></small>
    </td>
  </tr>
  <%- end -%>
<% end -%>

<%= javascript_tag do %>
  $('.find_person').bind('ajax:beforeSend', function() {
    $('#right_person').fadeTo(3000, 0.2);
    $('#find_progress_icon').show();
  })
<% end -%>
