<% table :caption => "Racers" do %>
  <th>&nbsp;</th>
  <%- for racer in racers -%>
  <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to_remote(
        racer.name, 
        :url => {:action => "results", :id => racer.id}, 
        :update => 'right_racer',
        :before => visual_effect(:fade, 'right_racer', :to => 0.4),
        :complete => visual_effect(:appear, 'right_racer'))
      %>
      <br>
      <small><%= [racer.team.blank? ? nil : racer.team.name, racer.city, racer.racing_age].compact.join(', ') %></small>
    </td>
  </tr>
  <%- end -%>
<% end -%>
