<% @page_title = "Admin: Results: #{@person.name}" %>

<h2><%= @person.name %></h2>

<div class="container-fluid">
  <div class="row-fluid">
    <%= form_tag({}, { :method => "get", :id => "find_person_form", :class => "form-horizontal form-search" }) do %>
      <div class="span3 find-progress"><i class="icon-refresh rotate" id="find_progress_icon" style="display: none"></i></div>
      <div class="span6 input-append">
        <%= search_field_tag("name", @name, :class => "wants_focus search-query span12", :placeholder => "Move results to person") %>
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
    <% end -%>
  </div>

  <div class="row-fluid" people id="people">
    <div class="span6" id="left_person">
      <%= render 'person', :person => @person, :results => @results %>
    </div>

    <div class="span6" id="right_person"></div>
  </div>
</div>
