<% @page_title = "Races: #{@category.name}" %>

<% table :caption => @category.name do %>
  <tr><th>&nbsp;</th></tr>
  <% for race in @category.races %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to race.event.name, :controller => 'results', :action => 'event', :year => race.event.date.year, :discipline => race.event.discipline, :id => race.event.id %></td>
  </tr>
  <% end %>
<% end %>
