body {
  text-align: center;
  min-width: 600px;
  font-size: 0.75em;
  line-height: 1.33em;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: left;
  color: black;
  padding: 16px;
}

div.frame {
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(250, 250, 250);
}

div.content {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
}

.shadow_1 {
  border: 1px solid rgb(240, 240, 240);
}

.shadow_2 {
  border: 1px solid rgb(245, 245, 245);
}

div.inline {
  float: left;
}

.left, .centered .left {
  text-align: left;
}

.right {
  text-align: right;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}

.centered p, .centered table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centered input[type=file] {
  width: auto;
}

.full_width, div.full_width {
  width: 100%;
}

.half_width {
  width: 48%;
}

pre, pre a, pre a:link, pre a:visited {
  font-size: 10px;
  font-family: Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospaced;
}

.updatedon, .weak,
.updatedon a, .weak a,
.updatedon a:link, .weak a:link,
.updatedon a:visited, .weak a:visited,
.updatedon a:active, .weak a:active
{
  border-bottom: none;
  font-size: 1em;
  font-family: Verdana, Helvetica, sans-serif;
  color: rgb(160, 160, 160);
  font-style: italic;
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

.created_at {
  margin-right: 24px;
}

.note
{
  padding-top: 4px;
  color: rgb(160, 160, 160);
  font-style: italic;
  text-align: center;
  width: 160px;
}

.flash_message, .message
{
  width: 450px;
  font-family: Verdana, Helvetica, sans-serif;
  white-space: normal;
  text-align: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

p.message, div.message {
  text-align: left;
}

p.flash_message, p.message, div.flash_message, div.message {
  line-height: 16px;
}

#notice_span, .notice, .notice_span
{
  background-image: url(/images/icons/information.png);
  background-repeat: no-repeat;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 4px;
  padding-top: 2px;
}

#warn_span, .warn, .warn_span
{
  background-image: url(/images/icons/exclamation.png);
  background-repeat: no-repeat;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 4px;
  padding-top: 2px;
}

h1, h2, h3 {
  font-weight: bold;
  color: rgb(50, 50, 50);
  clear: both;
}

h1 {
  font-size: 22px;
  font-style: italic;
  line-height: 24px;
}

h2 {
  padding-top: 32px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

h3 {
  padding-top: 32px;
  color: rgb(66, 66, 66);
  text-align: center;
}

/* Main navigation */

div.nav {
  text-align: left;
}

div.nav#top {
  height: 51px;
  background-image: url(/images/backgrounds/bar.gif);
  text-align: left;
  border-bottom: 1px solid rgb(190, 190, 190);
}

div.nav#bottom {
  text-align: left;
  height: 23px;
  line-height: 23px;
  background-image: url(/images/backgrounds/bar_low.gif);
  border-top: 1px solid rgb(190, 190, 190);
}

div.nav h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 6px;
  text-align: left;
  line-height: 24px;
}

div.nav h1 a {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: rgb(109, 109, 109);
  border-bottom: none;
}

div.breadcrumb {
  margin-left: 10px;
}

div.nav#bottom div.breadcrumb {
  margin-top: 0px;
}

div.breadcrumb a {
  font-weight: bold;
  color:  rgb(109, 109, 109);
  border-bottom: none;
}


/* Links */

a:link
{
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: #D0FA30;
  color: black;
  text-decoration: none;
}

a.underlined
{
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: #D0FA30;
}

a:visited
{
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-bottom-color: #D0FA30;
  color: black;
  text-decoration: none;
}

a:hover
{
  color: black;
  background: #D0FA30;
}

a.image, a.image:hover, a.image:visited, a.image:active, table.base a.image, table.base a.image:hover, 
table.base a.image:visited, table.base a.image:active, div.table_container .caption a.image:hover
{
  text-decoration: none;
  background: inherit;
  border-bottom: none;
}

a:active
{
  color: black;
  background: #D0FA30;
}

ol {
  padding-left: 28px;
}

ul.links
{
  padding-left: 0px;
  list-style-type: none;
  text-align: left;
  line-height: 160%;
}

/* Mainly for form labels */
br {
  clear: both;
}

p {
  margin-top: 16px;
}

div.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: none;  
}

div.pagination .current {
  background-image: none; 
  padding-left: 0px;
}

p.notes {
  width: 600px;
}

.ui-draggable {
  cursor: move;
}

.ui-draggable-dragging {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: rgb(100, 100, 100);
  background-position: 8px 4px;
  background-repeat: no-repeat;
  color: white;
  cursor: move;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  min-height: 20px;
  line-height: 20px;
  margin: 0px;
  min-width: 120px;
  padding-bottom: 2px;
  padding-left: 28px;
  padding-right: 8px;
  padding-top: 2px;
  vertical-align: middle;
}
