label {
  font-size: 1em;
  font-weight: bold;
  color: rgb(50, 50, 50);
  margin-right: 8px;
  display: block;
  float: left;
  width: 142px;
  text-align: right;
  clear: both;
  vertical-align: middle;
  margin-top: 11px;
}

input[type=checkbox], input[type=radio] {
  margin-left: 0px;
  margin-right: 4px;
  float: left;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 0px;
  display: inline;
}

td input[type=checkbox], input[type=radio] {
  float: none;
}

input[type=checkbox] {
  margin-top: 1px;
  margin-bottom: 1px;
}

input[type=radio] {
  margin-top: 1px;
  margin-bottom: 1px;
}

div.check_box, div.radio {
  vertical-align: top;
  clear: both;
  display: block;
  padding-top: 10px;
  margin-left: 150px;
}

div.check_box label, div.radio label {
  font-weight: normal;
  text-align: left;
  width: 242px;
  line-height: 15px;
  vertical-align: middle;
  clear: none;
  margin-top: 0px;
}

.check_box + .check_box, .radio + .radio {
  padding-top: 4px;
}

label.left, label.top {
  margin-left: 0px;
  width: auto;
  text-align: left;
}

label.left input[type=checkbox] {
  margin-right: 4px;
}

label.top + input, label.top + select {
  margin-top: 4px;
}

label.inline {
  display: inline;
  clear: none;
  width: auto;
}

label a {
  font-weight: normal;
}

label + textarea {
  margin-top: 4px;
}

input[type=submit] {
  float: none;
}

input[type=file], input[type=password], input[type=text] {
  float: left;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  display: block;
  width: 270px;
  vertical-align: middle;
  margin-top: 8px;
}

input[type=file] {
  margin-top: 4px;
}

.centered label {
  width: auto;
}

select {
  float: left;
  font-weight: normal;
  color: black;
  line-height: normal;
  display: block;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: middle;
}

select + select {
  margin-left: 8px;
}

.labelled {
  float: left;
  font-size: 1em;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin-top: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 4px;
  display: block;
}

.help, .wide_help {
  float: left;
  margin-left: 150px;
  width: 256px;
  line-height: 15px;
  margin-top: 2px;
  font-style: italic;
}

.wide_help {
  margin-top: 4px;
  margin-left: 0px;
  width: 400px;
}

.help + .help {
  margin-top: 8px;  
}

form h2 {
  margin-left: 150px;
  text-align: left;
}

label.text_area {
  margin-top: 0px;
  min-width: auto;
  text-align: left;
  clear: both;
  float: left;
}

textarea {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 0px;
  width: 420px;
  height: 144px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  clear: both;
  float: left;
}

.field_label
{
  text-align: right !important;
  font-weight: bold;
  min-width: 75px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 8px;
  white-space: nowrap;  
}

.field_label#left
{
  text-align: left !important;
}

div.fieldWithErrors
{
  display: inline;
}

.fieldWithErrors input[type=text]
{
  border-color: rgb(204, 0, 0);
}

.fieldWithErrors label
{
  color: rgb(204, 0, 0);
}

#errorExplanation
{
  width: 400px;
  border: 2px solid rgb(204, 0, 0);
  padding: 7px;
  margin-bottom: 12px;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
}

#errorExplanation h2
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p
{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li
{
  font-size: 12px;
  list-style: square;
  margin-left: 32px;
}

.cancelled
{
  text-decoration: line-through;
}

.postponed
{
  font-style: italic;
}

form#search_form {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

div.page_buttons {
  margin-top: 16px;
  line-height: 26px;
  vertical-align: middle;
}

div.page_buttons a {
  margin-right: 8px;
}

div.page_buttons div.right div {
  text-align: right;
}

div.page_buttons select {
  margin-top: 2px;
  width: auto;
}

div.page_buttons input[type="submit"]:first-child {
  margin-left: 0px;
}

div.page_buttons label {
  margin-top: 0px;
}

div.right input {
  text-align: center;
}

td.form_column {
  width: 416px;
  padding-right: 16px;
}

fieldset {
  clear: both;
  border: 1px solid rgb(190, 190, 190);
  padding: 4px;
}

fieldset label {
  width: 134px;  
}

legend {
  font-weight: bold;
}

fieldset p {
  clear: both;
  float: left;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-style: italic;
}

input.editor_cancel_button {
  position: relative;
  top: 2px;
  background: url(/images/icons/decline.png);
  border: none;
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-left: -22px;
  margin-right: 0px;
  padding: 0px;
}

table.box-2 td {
  vertical-align: middle;
}

table.box-2 td input {
  margin-top: 0px;
  margin-bottom: 0px;
}

table.box-2 td a.image {
  margin-left: 8px;
  vertical-align: middle;
}

div.auto_complete {
  position:absolute;
  width:250px;
  background-color: rgb(250, 250, 250);
  border:1px solid rgb(200, 200, 200);
  margin:0;
  padding:0;
}

div.auto_complete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.auto_complete ul li.selected { background-color: background: #D0FA30; }
div.auto_complete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 4px;
  cursor:pointer;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(222, 222, 222);
  font-weight: bold;
}
div.auto_complete ul li div.informal {
  font-weight: normal;
  font-size: 1em;
  color: rgb(90, 90, 90);  
}

div.more {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 4px;
}

a.editable, a:link.editable, a:visited.editable {
  border: 1px solid transparent;
}

a:hover.editable {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(204, 204, 204);
}

.auto_complete_progress_spinner {
  position: relative;
  float: left;
  margin-left: -16px;
  top: 10px;
  left: 274px;
}
