/* Overrides for the world's favorite browser */
label {
  margin-top: 10px;
}

/* Fixes IE margin bugs */
* html .column { overflow-x: hidden; }

/* Fixes incorrect placement of ol numbers in IE6/7. */
ol { margin-left:2em; }

/* Fixes wrong line-height on sup/sub in IE. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/* Fixes IE7 missing wrapping of code elements. */
html>body p code { *white-space: normal; } 

/* IE 6&7 has problems with setting proper <hr> margins. */
hr  { margin: -8px auto 11px; }

hr.space {
  color: white;
}

div.check_box {
  width: 267px;
}

div.check_box .input input {
  margin-top: 2px;
  margin-bottom: 0px;
}

div.check_box label, .radio label {
  line-height: 22px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.span-1 div.check_box {
  width: 130px;
}

.check_box + .check_box, .radio + .radio {
  padding-top: 0px;
}

input[type=radio] {
  margin-top: 0px;
}

select {
  margin-top: 8px;
}

.labelled {
  margin-top: 8px;
}

/* For the ABA */
#ror .labelled {
  margin-top: 8px;
}

#ror #footer a {
  color: #94A3BB;
}

td.day
{
  border: 1px solid white;
}

bar{
  font-size: 12px;
  font-family: "Lucida Console", Monospace, "Bitstream Vera Sans Mono", "Courier New", Courier, monospaced;
}

table.base th {
  height: 0px;
}

.table_container .caption div.right {
  padding-top: 0px;
}

div.centered {
  display: block;
}

#search_form div.centered {
  width: 327px;
}

#import_form div.centered {
  width: 279px;
}

#export_form div.centered {
  width: 368px;
}

input.city {
  margin-right: 4px;
  width: 106px;
}

input.city_no_zip {
  margin-right: 4px;
  width: 214px;
}

input.state {
  margin-right: 4px;
  width: 22px;
}

input.state_no_zip {
  margin-right: 0px;
  width: 22px;
}

input.zip {
  width: 82px;
}

form.editor_field {
  float: left;
}

form.editor_field input,
form.editor_field input[type=text] {
  left: 0px;
  top: 0px;
}
