/* Page-specific. Do we really need so many of these?  Probably should be separate files for pages. */

/* Admin events */
table#left_nav {
  font-size: 8pt;
}

table#left_nav td.text {
  white-space: nowrap;  
  padding-left: 4px;
}

table#left_nav td.icon {
  text-align: right;
  padding-right: 0px;
}

#promoter_links {
  margin-top: 4px;
  margin-left: 5px;
}

#promoter_links a {
  margin-right: 8px;
}

/* Calendar of events */
div.calendar table {
  border-collapse: separate;
  padding: 0px;
  width: 100%;
  background: white;
}

div.calendar {
  margin-bottom: 36px;
}

.calendar table th, .calendar .caption
{
  text-align: center;
}

tr.month
{
  vertical-align: top;
}

td.day
{
  height: 70px;
  width: 14%;
  border: 1px solid white;
  background: #F4FDBF;
  padding: 4px 4px;
  text-align: left;
}

td.day div.event {
  margin-bottom: 8px;
  line-height: 16px;
}

td.day div.beginner_friendly {
  background-image: url(/images/icons/star_green.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

td.day div.number
{
  font-weight: bold;
}

td.day_from_other_month
{
  height: 70px;
  width: 14%;
  border: 1px solid white;
  background: white;
  padding: 4px 4px;
}

td.day_from_other_month div.number
{
  font-style: italic;
  text-align: left;
}

div.calendar table.base td.beginner_friendly {
  text-align: right;
}


/* Upcoming events */
tr.discipline_upcoming_events {
  vertical-align: top;
}

table#upcoming_events_table td img {
  vertical-align: top;
}

table#upcoming_events_table td:first-line {
  line-height: 16px;
}

tr.discipline_upcoming_events td.date {
  min-width: 50px;
}

tr.discipline_upcoming_events td.info {
  min-width: 150px;
  padding-right: 24px;
}

a.beginner_friendly {
  padding-right: 8px;
}


/* Categories */
.category_root {
  border-left: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  float: left;
  min-height: 400px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 36px;
  padding-top: 12px;
  width: 402px;
}

.category_root.hovering {
  border-color: #E9F79B;
  border-width: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 33px;
  padding-top: 9px;
}

div.disclosure {
  background-repeat: no-repeat;
  background-position: 0px 3px;
  clear: none;
  float: left;
  height: 24px;
  padding-left: 16px;
}

.collapsed {
  background-image: url(/images/icons/play_blue.png);  
}

.loading {
  background-image: url(/images/icons/spinner.gif);
}

.expanded {
  background-image: url(/images/icons/down_blue.png);
}

.category_root .category {
  clear: both;
  float: left;
}

.category .category_name {
  clear: none;
  float: left;
  padding-left: 24px;
  cursor: move;
  background-image: url(/images/icons/star.png);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  line-height: 24px;
  height: 24px;
  padding-right: 8px;
  white-space: nowrap;
}

.category .children {
  clear: both;
  float: left;
  padding-left: 24px;
}

.category_root .category img {
  padding-top: 4px;
}

.category_root div.hovering {
  background-color: #E9F79B;
}

.ui-draggable-dragging.category {
  background-image: url(/images/icons/star.png);
}

/* Results admin */
#find_progress_icon {
  visibility: hidden;
}

table.base td.disclosure {
  cursor: pointer;
  text-align: right;
  width: 16px;
}

table.results td.result {
  cursor: move;
  white-space: nowrap;
}

table.results td.result .place {
  float: left;
  text-align: right;
  width: 32px;
}

table.results td.result .event {
  float: left;
  margin-left: 8px;
}

.half_width {
  width: 48%;
}

#left_person {
  float: left;
}

#right_person {
  float: left;
  margin-left: 12px;
  margin-right: 0px;
}

#left_person td.page_links,
#right_person td.page_links {
  min-width: 40px;
  width: 40px;
}

/* Pages */
table.base .title div.in_place_editable {
  background-repeat: no-repeat;
  background-image: url(/images/icons/page_white_world.png);
  padding-left: 20px;
}

#page_body {
  width: 100%;
  height: 340px;
  font-size: 10px;
  font-family: Monaco, "Lucida Console", Monospace, "Bitstream Vera Sans Mono", "Courier New", Courier, monospaced;
}

#page_parent_id {
  width: 270px;
}

table.base img.icon {
  float: left;
  position: relative;
  top: -2px;
  padding-left: 4px;
  padding-right: 8px;
}

table.base td img.cancel {
  width: 16px;
  height: 16px;
  margin-left: -6px;
}

table.base td.name a.cancel {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

table.base .actions {
  text-align: right;
  white-space: nowrap;
}

.table_container#people th.number, .table_container#people td.number {
  text-align: right;
}

#export_button {
  margin-left: 8px;
}

table.numbers select {
  margin-top: 0px;
  float: right;
  width: 78px;
}

table.numbers td label {
  text-align: left;
  font-weight: normal;
  color: black;
  margin-top: 0px;
  width: auto;
}

table.numbers td input[type=text] {
  width: 60px;
}

table.person_categories td input[type=text] {
  width: 120px;
}

/* public teams page */
table.base#teams_table td.club_name, table.base#teams_table td.contact, table.base#teams_table td.contact_phone, table.base td.contact_phone {
  white-space: nowrap;
}

table.base a.preliminary {
  font-style: italic;
}

input.city {
  margin-right: 8px;
  width: 114px;
}

input.city_no_zip {
  margin-right: 8px;
  width: 222px;
}

input.state {
  margin-right: 8px;
  width: 30px;
}

input.state_no_zip {
  margin-right: 0px;
  width: 30px;
}

input.zip {
  width: 90px;
}

.current, .renewed {
  padding-right: 20px;
  background-image: url(/images/icons/accept.png);
  background-repeat: no-repeat;
  background-position: center right;
}

/* Cat 4 womens series */
form.cat4_womens_race_series input#event_name {
  width: 512px;   
}

form.cat4_womens_race_series td input#result_place,
form.cat4_womens_race_series td input#result_number {
  width: 40px;
}

form.cat4_womens_race_series td input#result_first_name,
form.cat4_womens_race_series td input#result_last_name,
form.cat4_womens_race_series td input#result_team_name {
  width: 184px;
}


/* Event */
table.event_nav td.race {
  background-image: url(/images/icons/star.png);
  background-repeat: no-repeat;
  background-position: 8px 4px;
/*  padding-top: 4px;*/
}

table.event_nav td.race .in_place_editable {
  margin-left: 24px;
}

table.event_nav td.delete {
  width: 16px;
}

td.delete_all_races {
    white-space: nowrap;
}


/* Mailing lists */
table.archive_navigation, div.archive_navigation, div.archive_navigation div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.archive_navigation a
{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
}

div.archive_navigation span
{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
}

div.archive_navigation input
{
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
}

/* Results */
table.base td.total_points span.total
{
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
  padding-right: 12px;
}

table.base td.total_points {
  font-weight: bold;
  text-align: right;
  padding-right: 8px;
}

table.event_races td {
  padding-left: 12px;
  padding-right: 12px;
}

table.child_single_day_events td {
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
}

table.child_single_day_events td.child {
  padding-top: 2px;
}

table.child_single_day_events td.child a {
  font-weight: normal;
}

/* Event first aid providers */
table.first_aid_providers td.date {
  white-space: nowrap;
}

table.first_aid_providers td.name {
  width: 200px;
}

.link_spacer {
  padding-left: 8px;
  padding-right: 8px;
}

div.event_results {
  margin-top: 24px;
}

div.table_container table.event_results th.place,
div.table_container table.event_results th.laps {
  padding-left: 0px;
  padding-right: 8px;
  text-align: right;
  width: 24px;  
}

div.table_container table.event_results th.state,
div.table_container table.event_results th.age {
  width: 24px;  
}

div.table_container table.event_results th.time_bonus_penalty,
div.table_container table.event_results th.points,
div.table_container table.event_results th.points_bonus,
div.table_container table.event_results th.points_penalty,
div.table_container table.event_results th.points_from_place,
div.table_container table.event_results th.points_total,
div.table_container table.event_results th.number {
  padding-left: 0px;
  padding-right: 8px;
  text-align: right;
  width: 55px;  
}

div.table_container table.event_results th.time_total,
div.table_container table.event_results th.time_gap_to_winner,
div.table_container table.event_results th.time_gap_to_leader,
div.table_container table.event_results th.time {
  padding-left: 0px;
  padding-right: 8px;
  text-align: right;
  width: 80px;
}

div.table_container table.event_results th.first_name,
div.table_container table.event_results th.city {
  width: 100px;
}

div.table_container table.event_results th.category_name,
div.table_container table.event_results th.last_name {
  width: 120px;
}

div.table_container table.event_results th.name {
  width: 220px;

table.event_results td {
  padding-right: 8px;
}

table.person_results td.place {
  width: 24px;
}

table.person_results td.standings {
  width: 400px;
}

table.person_results td.category {
  width: 200px;
}

table.person_results td.dates {
  width: 100px;
}

tr.new_number td.right {
  padding-left: 0px;
  margin-left: 0px;
}

table.base td select#number_year {
  margin-right: 8px;
}

table.numbers label.inline {
  width: 120px;
}

.promoted_events .name,
.promoted_events .link {
  white-space: nowrap;
}

.promoted_events .link {
  padding-right: 8px;
}

/* Mailing list archive */
#archived_post_body {
  float: left;
  clear: both;
  margin-left: 154px;
  margin-bottom: 36px;
  width: 600px;
}

.posts th.subject, .posts td.subject {
  padding-left: 36px;
}

.posts td.subject {
  background-image: url(/images/icons/email.png);
  background-repeat: no-repeat;
  background-position: 12px center;
}

/* People */
#preview_import_table tr th {
  border-bottom: 1px solid gray;
}

table#preview_import_table {
  border-top: 1px solid gray;
}

table#preview_import_table th {
  min-width: 100px;
}

#import_year {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 8px;
}

.pagination .current {
  padding-right: 0px;
}

#merge_form {
  background-image: url(/images/icons/error.png); 
  background-position: 0px 2px; 
  background-repeat: no-repeat;
  padding-left: 24px;
  padding-top: 2px;
}

.ui-draggable-dragging.person {
  background-image: url(/images/icons/user.png);
}

/* Login */
.login .options {
  margin-top: 8px;
}

/* Versions */
.version .what,
.version .from,
.version .to {
  width: 33%;
}

.ui-draggable-dragging.team {
  background-image: url(/images/icons/group.png);
}
