body {
	color: black;
	font: 11px Verdana, sans-serif;
	text-align: center;
	min-width: 600px;
}

div.frame {
	border: 1px solid #6D6D6D;
}

div.content {
	text-align: center;
	margin: 16px 16px;
}

.shadow_1 {
	border: 1px solid #E2E2E2;
}

.shadow_2 {
	border: 1px solid #F6F6F6;
}

a:link
{
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #D0FA30;
	color: black;
	text-decoration: none;
}

a.underlined
{
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #D0FA30;
}

a:visited
{
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #D0FA30;
	color: black;
	text-decoration: none;
}

a:hover
{
	color: black !important;
	background: #D0FA30;
}

a:active
{
	color: black !important;
	background: #D0FA30;
}

ul.links
{
	padding-left: 0px;
	list-style-type:  none;
	text-align: left;
	line-height: 160%;
}

.horizontal_links
{
	color: #999;
	margin-top: 4px;
	margin-bottom: 4px;
}

div.nav {
	text-align: left;
}

div.nav#top {
	height: 51px;
	background-image: url(/images/backgrounds/bar.gif);
	text-align: left;
	border-bottom: 1px solid #6D6D6D;
}

div.nav#bottom {
	text-align: left;
	border: 0px none; !important;
	height: 23px;
	background-image: url(/images/backgrounds/bar_low.gif);
	border-top: 1px solid #6D6D6D;
}

div.nav h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 6px;
	text-align: left;
}

div.nav h1 a {
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	color: #6D6D6D;
	border-bottom: none;
}

div.breadcrumb {
	margin-top: 3px;
	margin-left: 10px;
}

div.nav#bottom div.breadcrumb {
	margin-top: 7px;
}

div.breadcrumb a {
	font-weight: bold;
	color:  #6D6D6D;
	border-bottom: none;
}

table.base
{
	border-style: solid;
	border-width: 1px;
	border-color: #B3B3B3;
	margin: 0px;
}

table.base caption
{
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-color: #B3B3B3;
	background-image: url(/images/backgrounds/table_head.jpg);
	text-align: left;
	font-weight: bold;
	font-size: 8pt;
	line-height: 21px;
	height: 21px;
	padding: 0px 0px 0px 8px;
/*	Safari only
	margin-right: -2px;*/
}

table.base thead tr
{
	background-image: url(/images/backgrounds/table_column_titles.jpg);
	height: 20px;
}

table.base thead th {
	padding: 0px 6px 0px 6px;
	color: #6D6D6D;
	text-align: center;
	font-size: 8pt;
	line-height: 20px;
	text-align: center;
	border-bottom: solid;
	border-width: 1px;
	border-color: #B3B3B3;
}

table.base tbody td {
	padding: 4px 6px;
}

table.base tbody tr.even {
	background: #F4FDBF;
}

table.base#calendar
{
	width: 98%;
}

tr.month
{
	vertical-align: top;
}

td.day
{
	height: 70px;
	width: 14%;
	border: 1px solid white;
	background: #F4FDBF;
	padding: 4px 4px;
	text-align: left;
}

td.day div.number
{
	font-weight: bold;
}

td.day_from_other_month
{
	height: 70px;
	width: 14%;
	border: 1px solid white;
	background: white;
	padding: 4px 4px;
}

td.day_from_other_month div.number
{
	font-style: italic;
	text-align: left;
}
