table.tabs, div.tabs {
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  width: auto
}

table.tabs + table.tabs {
  margin-top: 4px;
}

table.tabs td {
  padding-left: 8px;
  padding-right: 8px;
}
