ul.tabs {
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  width: auto
}

ul.tabs + ul.tabs {
  margin-top: 4px;
}

ul.tabs li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid rgb(190, 190, 190);
}

ul.tabs li.first,
ul.tabs li.first_selected {
  border-left: none;
}

ul.tabs.solo li {
  border-left: none;
}

