<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= @oregon_cup.date.year %> Races</th>
    </tr>
  </thead>
  <%  unless @oregon_cup.new_record? or @oregon_cup.nil? %>
  <%- @oregon_cup.source_events.sort.each do |event| -%>
  <tbody>
    <tr>
      <td class="date"><%= event.date.strftime("%B %-d") %></td>
      <td class="name">
  <%- unless event.any_results_including_children? -%>
  <%= public_link_to_flyer event -%>
  <%- else -%>
  <%= link_to event.name, event_results_path(event)  %>
  <%- end -%>
  <%- end -%>
      </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="2">Not scheduled</td>
    </tr>
  </tbody>
<%- end -%>
</table>
