<% if races.select(&:results_present?).many? %>
<div class="event_info">
  <table class="event_races">
    <tbody>
      <%- races.select(&:results_present?).sort.each_row do |first_race, second_race| -%>
      <tr>
        <td class="race">
          <%= link_to race.name, "#race_#{race.id}" %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<%- end -%>
