<div class="form-group form-inline">
  <%= f.label :city, "City, State ZIP", :class => "control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :city, :class => "city form-control", :maxlength => 30 %>
    <%= f.text_field :state, :class => "state form-control", :maxlength => 10 %>
    <%= f.text_field :zip, :class => "zip form-control", :maxlength => 9 %>
  </div>
</div>
