<div class="control-group">
  <label class="control-label" for="#{object_name}_human_#{method}_on">Registration Ends At</label> 
  <div class="controls">
    <div class="input-append">
      <%= f.text_field "human_#{method}_on", :size => 28, :class => "span10" %>
      <%= content_tag(
            :a, 
            :class => "btn", 
            :data => {
              "behaviour" => "datepicker",
              "date-format" => "yyyy-mm-dd",
              "date" => object.send("#{method}_at") ? object.send("#{method}_at").to_s(:db_date_only) : nil,
              "target" => "#{object_name}_human_#{method}_on"
            }
          ) do %><i class="icon-calendar"></i><% end %>
    </div>
    <%= f.text_field "human_#{method}_at_time", 
                     :value => object.send("human_#{method}_at_time"), 
                     :size => 4, 
                     :class => "span3" %>
  </div>
</div>
