<div class="in_place_editable" id="<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>"><%= 
  if value
    value
  else
    if truncate_to
      truncate(record.send(attribute_symbol), :length => truncate_to)
    else
      record.send(attribute_symbol)
    end
  end
%></div>
<script type="text/javascript">
//<![CDATA[
var editable = $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').editable('<%= "/admin/#{record_symbol}s/set_#{record_symbol}_#{attribute_symbol}/#{record.id}" %>', {
  method: 'PUT',
  name: 'value',
  select: true,
  placeholder: ''
});
<% if enter_edit_mode.present? && enter_edit_mode == true -%>
editable.click();
<% end -%>
// ]]>
</script>
