<div class="row">
  <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
    <%= form_tag({}, { method: "get", class: "form-horizontal", role: "form" }) do %>
      <div class="form-group">
        <div class="input-group">
          <%= search_field_tag("name", @name, class: "wants_focus form-control", placeholder: placeholder) %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    <% end -%>
  </div>
</div>
