
  <br><br>
  
  <div align="center">
  <span class="copyright">Copyright &copy; <%= Date.today.year %> Oregon Bicycle Racing Association</span> 
  <br>
  <a href="http://STATIC_HOST/contact.html">Contact Us</a>
  </div>

	</body>

</html>
