<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<title>OBRA: <%= @page_title %></title>
        <link rel="stylesheet" href="/style/obra.css"> 

	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr bgcolor="black">
				<td bgcolor="#ffde14" width="14"><img height="1" width="14" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#aa9405" width="14"><img height="1" width="14" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#554a03" width="14"><img height="1" width="14" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td width="8">&nbsp;</td>
				<td width="8">&nbsp;</td>
				<td width="8">&nbsp;</td>
				<td width="8">&nbsp;</td>
				<td width="213"><a href="http://STATIC_HOST/index.html"><img
				 height="37" width="213" 
				 src="http://STATIC_HOST/images/type/yellow_on_black_obra.gif"
				 border="0"></a></td>
				<td colspan="7">
          <a href="http://STATIC_HOST/index.html"><span
          class="titlebarlinks">HOME</span></a>&nbsp;&nbsp;&nbsp;<a
          href="http://STATIC_HOST/forms/index.html"><span
          class="titlebarlinks">FORMS</span></a>&nbsp;&nbsp;&nbsp;<a
          href="http://STATIC_HOST/links.html"><span
          class="titlebarlinks">LINKS</span></a>&nbsp;&nbsp;&nbsp;<a
          href="http://STATIC_HOST/results/<%= Date.today.year %>/index.html"><span
          class="titlebarlinks">RESULTS</span></a>&nbsp;&nbsp;&nbsp;<a
          href="http://STATIC_HOST/schedule/<%= Date.today.year %>/index.html"><span
          class="titlebarlinks">SCHEDULE</span></a>&nbsp;&nbsp;&nbsp;
				</td>
				<td width="100%">&nbsp;</td>
			</tr>
			<tr bgcolor="#464646">
				<td bgcolor="white" width="14"></td>
				<td bgcolor="white" width="14"></td>
				<td bgcolor="white" width="14"></td>
				<td bgcolor="#d7d7d7" width="8"><img height="1" width="8" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#acacac" width="8"><img height="1" width="8" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#7d7d7d" width="8"><img height="1" width="8" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td width="8">&nbsp;</td>
				<td colspan="2"><span class="pagetitle"><%= @page_title %></span></td>
				<td width="8">&nbsp;</td>
				<td bgcolor="white" rowspan="3" width="101" valign="top"><%= titlebar_photo %></td>
				<td bgcolor="#7d7d7d" width="20"><img height="1" width="20" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#acacac" width="20"><img height="1" width="20" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="#d7d7d7" width="20"><img height="1" width="20" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="white"><img height="1" width="100" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td bgcolor="white" width="100%"></td>
			</tr>
			<tr>
				<td colspan="10"><img height="8" width="1" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
				<td width="20"></td>
				<td width="20"></td>
				<td width="20"></td>
				<td></td>
				<td width="100%"></td>
			</tr>
			<tr>
				<td width="14"></td>
				<td width="14"></td>
				<td width="14"></td>
				<td width="8"></td>
				<td width="8"></td>
				<td width="8"></td>
				<td width="8"></td>
				<td colspan="2">&nbsp;</td>
				<td width="8"></td>
				<td width="20"></td>
				<td width="20"></td>
				<td width="20"></td>
				<td>&nbsp;</td>
				<td width="100%"></td>
			</tr>
			<tr>
				<td colspan="16"><img height="24" width="1" src="http://STATIC_HOST/images/spacer.gif" alt=" "></td>
			</tr>
		</table>

