<div class="pills">
  <ul class="nav nav-pills">
    <li><%= link_to "View Mailing Lists", mailing_lists_path %></li>

    <% if mailing_list.present? %>
    <li>
        <%= link_to "View Posts", mailing_list_posts_path(mailing_list) %>
    </li>
    <% end %>
  </ul>
</div>
