<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}: Reply Sent" %>

<div class="centered">
  <h4>Your reply has been sent</h4>
</div>


<table class="centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>
