<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<div>
  <h4>Your new post is now in the mailing queue. What happens next:</h4>
  <ul>
    <li>Confirm that you are a list subscriber</li>
    <li>Check new post for spam</li>
    <li>Check for viruses</li>
    <li>Check size</li>
    <li>Email post to list subscribers</li>
    <li>Archive post</li>
  </ul>
</div>

<%= render("mailing_lists/links", mailing_list: @mailing_list) %>
