<% if photo.link.present? %>
<%= link_to photo.link do %>
  <%= image_tag photo.image.desktop.url, title: photo.title, class: "hero_photo img-responsive center-block" %>
<% end %>
<% else %>
<%= image_tag photo.image.desktop.url, title: photo.title, class: "hero_photo img-responsive center-block" %>
<% end %>

<% if photo.caption.present? %>
<span class="hero_photo_caption"><%= markdown photo.caption %></span>
<% end %>
