<% if photo.link.present? %>
<%= link_to photo.link do %>
  <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
<% end %>
<% else %>
<%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
<% end %>

<% if photo.caption.present? %>
<span class="hero_photo_caption"><%= markdown photo.caption %></span>
<% end %>
