<% style_class = nil unless style_class  %>
<%= table :caption => link_to('Results', results_path(:host => RacingAssociation.current.rails_host)), 
         :class => style_class || "no_top_margin", 
         :insert_header => true,
         :id => "home_page_results" do %>
  <%- @recent_results.each do |event| -%>
  <tr>
    <td><%= link_to event.full_name, event_results_path(event, :host => RacingAssociation.current.rails_host) %></td>
  </tr>
  <%- end -%>
  <%- if @recent_results.empty? -%>
  <tr>
    <td>No results in the last two weeks</td>
  </tr>
  <%- end -%>
  <tr>
    <td style="padding-top: 16px;"><%= link_to("More &hellip;".html_safe, results_path(:host => RacingAssociation.current.rails_host)) %></td>
  </tr>
<% end -%>
