<% table :caption => link_to('Results', :only_path  => false, :host => RAILS_HOST, :controller => 'results'), 
         :class => "no_top_margin", 
         :insert_header => true,
         :id => "home_page_results" do %>
  <%- for standings in @recent_results -%>
  <tr>
    <td><%= link_to standings.full_name, :only_path  => false, :host => RAILS_HOST, :controller => 'results', :action => 'event', :id => standings.event_id %></td>
  </tr>
  <%- end -%>
  <%- if @recent_results.empty? -%>
  <tr>
    <td>No results in the last two weeks</td>
  </tr>
  <%- end -%>
  <tr>
    <td style="padding-top: 16px;"><%= link_to 'More &hellip;',
  :only_path  => false, :host => RAILS_HOST, :controller => 'results' %></td>
  </tr>
<% end -%>