<table class="base" border="0" cellspacing="0" cellpadding="0">
	<caption>Upcoming Events</caption>
	<thead>
		<tr>
			<%- for discipline in ['Road', 'Mountain Bike', 'Track', 'Cyclocross'] -%>
			<th><%= discipline %></th>
			<%- end -%>
		</tr>
	</thead>
	<tbody>
		<tr class="discipline_upcoming_events">
			<%- for discipline in ['Road', 'Mountain Bike', 'Track', 'Cyclocross'] -%>
			<td>
					<%- if @upcoming_events.events[discipline].empty? and @upcoming_events.weekly_series[discipline].empty? -%>
								<div class="note">None</div>
				    <%- else -%>
				<table border="0" cellspacing="0" cellpadding="0">
				      <%- discipline_events = @upcoming_events.events[discipline] -%>
				      <%- discipline_events.sort! -%>
						<%- for event in discipline_events -%>
						<tr>
							<td class="date"><%= event.date_range_s %></td>
							<td class="info"><%= link_to(event.name, event.flyer) unless event.flyer.blank? -%><%= event.name if event.flyer.blank? -%></td>
						</tr>
						<%- end -%>
						<%- for event in @upcoming_events.weekly_series[discipline].sort {|a, b|
								wday_diff = a.earliest_day_of_week.wday <=> b.earliest_day_of_week.wday
								if wday_diff == 0
									date_diff = a.date <=> b.date
									if date_diff == 0
										a.name <=> b.name
									else
										date_diff
									end
								else
									wday_diff
								end
						} -%>
						<tr>
							<td class="date"><%= event.days_of_week_s %></td>
							<td class="info"><%= link_to(event.name, event.flyer) unless event.flyer.blank? -%><%= event.name if event.flyer.blank? -%> <small>(<%=
							    event.start_date.strftime("%m/%d") -%> - <%= event.end_date.strftime("%m/%d") -%>)</small>
							</td>
						</tr>
						<%- end -%>
				</table>
				<%- end -%>
			</td>
			<%- end -%>
		</tr>
	</tbody>
</table>
