<div style="text-align: center;">
Thanks!
<p>
You bid has been successfully submitted. The OBRA administrator must review and accept it before it appears on the homepage.
<p>
Return to the <%= link_to 'OBRA homepage', "http://#{STATIC_HOST}/" %>
</div>