<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td>
			<ul class="links">
				<li><%= link_to 'Results', :controller => 'results' %></li>
				<li><%= link_to 'Schedule', :controller => 'schedule' %></li>
			</ul>
		</td>
	</tr>
</table>
