<% if calculation %>
<div class="row event_info">
  <%= link_to "Rules", calculation_path(calculation) %> |
  <%= link_to("Categories", calculations_event_categories_path(event_id: calculation.event_id)) if calculation.event_id %> |
  <%= link_to("All Results", calculations_event_results_path(@event)) %>
</div>
<% end %>
