<table class="tabs centered">
  <tr>
<%= (RacingAssociation.current.effective_year).downto(2006) do |year| %>
  <td><%= link_to(year, person_results_year_path(person, year)) %></td>
<% end -%>
  </tr>
</table>
