<% if @event.races_with_results.size > 1 %>
<br />
<table class="event_races top_margin">
  <%- results_in_first_column = @event.races_with_results.size / 2 -%>
  <%- @event.races_with_results.sort.each_row_with_index do |row, row_index| -%>
  <tr>
    <td>
    <a href="#race_<%= row.first.id %>"><%= row.first.name %></a>
    </td>
    <td>
      <%= link_to(row.last.name, "#race_#{row.last.id}") if row.size == 2 %>
    </td>
  </tr>
  <%- end -%>  
</table>
<%- end -%>  
