<% if @event.races_with_results.size > 1 %>
<br />
<table class="event_races top_margin">
  <%- @event.races_with_results.sort.each_row_with_index do |row, row_index| -%>
  <tr>
    <td>
      <%= link_to row.first.name, "#race_#{row.first.id}" %>
    </td>
    <td>
      <%= link_to(row.last.name, "#race_#{row.last.id}") if row.last %>
    </td>
  </tr>
  <%- end -%>  
</table>
<%- end -%>  
