<% if source_events.present? %>
<div class="row event_info">
  <table class="source_events">
    <% source_events.sort.each do |source_event| -%>
    <tr>
      <% if source_event.any_results_including_children? %>
      <td class="date"><%= link_to source_event.date.strftime('%A, %B %-d'), event_results_path(source_event) %></td>
      <td class="event"><%= link_to source_event.name, event_results_path(source_event) %></td>
      <% else %>
      <td class="date"><%= public_link_to_flyer source_event, source_event.date.strftime('%A, %B %-d') %></td>
      <td class="event"><%= public_link_to_flyer source_event %></td>
      <% end %>
    </tr>
    <% end -%>
  </table>
</div>
<% end %>
