<% @page_title = "Results: #{@team.name}: #{@year}" %>

<h2><%= @team.name %></h2>

<%= render_page "years", year: @year %>

<% cache [ @team, @event_results ] do %>
	<%= participant_event_results_table @team, @event_results %>
<% end %>
