<% @page_title = "Results: #{@team.name}: #{@year}" %>

<% cache [ RacingAssociation.current.short_name, @year, RacingAssociation.current.updated_at.to_s(:number), mobile_request?, @team ] do %>
  <h2><%= @team.name %></h2>

  <%= render_page "years", year: @year %>

  <%= participant_event_results_table @team, @event_results %>
<% end %>
