<% @page_title = "Results: #{@team.name}: #{@year}" %>

<h2><%= @team.name %></h2>

<div class="container-fluid">
  <%= render_page "years", :year => @year %>
  <%= participant_event_results_table @team, @event_results %>
</div>
