<% @page_title = 'Admin: Velodromes' %>

<% table :class => :velodromes, :id => :velodromes do %>
  <tr>
    <th class="icon"/>
    <th class="name">Name</th>
    <th>Website</th>
    <th class="actions last"></th>
  </tr>
  <%= render :partial => "velodrome", :collection => @velodromes %>
<% end -%>

<div class="buttons container">
  <%= link_to(image_tag('/images/icons/add.png'), { :action => 'new' }, { :class => "image" }) %>
</div>
