<% @page_title = 'Admin: Velodromes' %>

<h2>Velodromes</h2>

<%= render "shared/search", :name => @name, :placeholder => "Enter name to search"%>

<div class="row-fluid">
  <%= table :class => :velodromes, :id => :velodromes, :collection => @velodromes, :columns => 4 do %>
    <tr>
      <th class="icon"/>
      <th class="name">Name</th>
      <th>Website</th>
      <th class="actions"></th>
    </tr>
    <%= render :partial => "velodrome", :collection => @velodromes %>
  <% end -%>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= link_to new_admin_velodrome_path, :class => "btn", :id => "new_velodrome" do %>
      <i class="icon-flag"></i> New Velodrome
    <% end %>
  </div>
</div>
