<% @page_title = 'First Aid' %>

<% form_tag({}, { :method => :get }) do %>
  <%= check_box_tag "past_events", "true", @past_events, :onclick => "form.submit();" %>&nbsp;<label for="past_events">Show past events</label>
  <%= hidden_field_tag "order", params[:order] %>
<% end -%>

<%= table(:events, "#{Date.today.year} First Aid") do |t|
  t.column :first_aid_provider, :title => "Provider", :editable => true
  t.column :date, :format => :short_with_week_day
  t.column :name
  t.column :city_state, :title => "Location", :order => [:city, :state]
end -%>

<div>
  <%= link_to "Email", formatted_admin_first_aid_providers_path("txt", :order => params[:order], :past_events => @past_events) %>
</div>
