<% @page_title = "Admin: Posts" %>

<% table :class => "posts top_margin clear", :id => :people do %>
  <tr>
    <th class="date">Date</th>
    <th class="subject">Subject</th>
    <th class="from">From</th>
  </tr>
  <%= render @posts %>
<% end -%>

<div class="buttons container">
  <div class="right">
    <%= link_to image_tag("/images/icons/email_add.png"),  new_admin_mailing_list_post_path(@mailing_list) %>
  </div>
</div>
