<%# Use +tabs_array+ to distinguish from helper %>
<% if tabs_array.many? || tabs_array.show_one? %>
  <div class="visible-xs">
    <ul class="nav nav-pills nav-stacked">
      <%= render "tabs/dropdown_tabs", tabs: tabs_array %>
    </ul>
  </div>

  <div class="hidden-xs">
    <ul class="nav nav-pills">
      <%= render collection: tabs_array, partial: "tabs/tab" %>
    </ul>
  </div>
<% end %>
