<% @page_title = "We're sorry, but something went wrong (500)" %>

<div class="container error_page">
  <div class="flash_messages">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          We're sorry, but something went wrong. We've been notified it and we'll take a look at it shortly.
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "photos/500.jpg", class: "center-block" %>

  <p class="text-center"><small>Photo: <a href="http://cheryljwillson.com/gallery/main.php">Cheryl J. Willson</a></small></p>
</div>
