<% @page_title = "We're sorry, but we're over capacity (503)" %>

<div class="container error_page">
  <div class="flash_messages">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          We're sorry, but we're over capacity. Please try back again in a few minutes.
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "photos/503.jpg", class: "center-block" %>

  <p class="text-center"><small>Photo: <a href="http://cheryljwillson.com/gallery/main.php">Cheryl J. Willson</a></small></p>
</div>
