<% @page_title = "Unauthorized (401)" %>

<div class="container error_page">
  <div class="flash_messages">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          You do not have access to this page.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= image_tag "photos/422.jpg", class: "hero-photo img-responsive center-block" %>
        <p class="text-center"><small>Photo: <a href="http://cheryljwillson.com/gallery/main.php">Cheryl J. Willson</a></small></p>
      </div>
    </div>
  </div>
</div>
