<% @page_title = "The change you wanted was rejected (422)" %>

<div class="container error_page">
  <div class="flash_messages">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          The change you wanted was rejected. Maybe you tried to change something you didn't have access to.
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "photos/422.jpg", class: "center-block" %>

  <p class="text-center"><small>Photo: <a href="http://cheryljwillson.com/gallery/main.php">Cheryl J. Willson</a></small></p>
</div>
