<h2>
  Thank you. <%= @editor_request.editor.name %> now has access to your account.
</h2>

<p class="centered">
  <%= link_to "Your account", "/account" %> | <%= link_to "#{RacingAssociation.current.name} homepage", "/" %>
</p>
