<% table :caption => "#{@oregon_cup.date.year} Races" do %>
  <tr><th></th></tr>
  <%  unless @oregon_cup.new_record? or @oregon_cup.nil? %>
  <%- for event in @oregon_cup.events.sort -%>
  <tr>
    <td><%= event.date.strftime("%B %d") %></td>
    <td>
      <%- if event.standings.empty? -%>
      <%- if event.flyer_approved? and !event.flyer.blank? -%>
      <%= flyer_link_from_app_server(event) %>
      <%- else -%>
      <%= event.name %>
      <%- end -%>
      <%- else -%>
      <%= link_to event.name, :controller => 'results', :action => 'event', :year => @year, :discipline => event.discipline, :id => event.id  %>
      <%- end -%>
    </td>
  </tr>
    <%- end -%>
  <%- end -%>
<% end -%>