<% @page_title = "Logged-in as #{current_person.login}" %>

<h2>You are logged in as <%= current_person.login %></h2>

<div class="tabs top_margin">
  <%= link_to("#{RacingAssociation.current.short_name} Homepage", root_url(:protocol => "http")) %> |
  <% if administrator? -%>
  <%= link_to('Admin Pages', admin_events_path) %> |
  <% end -%>
  <%= link_to "Logout", person_session_path, :method => :delete %>
</div>
