<% @page_title = "Logged-in as #{current_person.email}" %>

<div class="tabs">
  <%= link_to('Public Homepage', "/") %> |
  <%= link_to('Admin Pages', admin_events_path) %> |
  <%= link_to "Logout", person_session_path, :method => :delete %>
</div>
