<% @page_title = @post.subject %>
<% @back_path = mailing_list_posts_path(@post.mailing_list) %>

<article class="post">
  <summary>
    From: <%= @post.from_name.present? ? @post.from_name : @post.sender_obscured %>
    <h3><%= @post.subject %></h3>
    <time><%= @post.date.strftime("%-m/%-d/%Y %-I:%M %p") %></time>
  </summary>

  <details>
    <%= sanitize simple_format(@post.body) %>
  </details>
</article>
