<span class='editable' id="parent_category_<%= category.id %>">
  <% if category.parent %>
  <%= link_to_remote category.parent.name, 
    :update => "parent_category_#{category.id}", 
    :url => { :action => "edit_parent_category", :id => category.id }
  %>
  <% else %>
  <%= link_to_remote '&nbsp;' * 30, 
    :update => "parent_category_#{category.id}", 
    :url => { :action => "edit_parent_category", :id => category.id }
  %>
  <% end %>
</span>
