<%= content_tag :tr, :class => "photo_row", :id => "photo_#{photo.id}_row" do %>
  <td class="icon"><i class="icon-picture photo_icon" id="photo_<%= photo.id %>"</i></td>
  <td class="title">
    <%= photo.title %>
  </td>
  <td class="actions not_editable">
    <%= link_to 'Edit', edit_photo_path(photo), :id => "edit_#{photo.id}" %>
  </td>
<% end %>
