<% @page_title = "Photos" %>

<div class="container-fluid">
  <h2>Photos</h2>
  <div class="row-fluid">
    <%= table :class => "photos", :collection => @photos, :columns => 3, :id => :people do %>
      <thead>
        <tr>
          <th class="icon"/>
          <th class="title">Title</th>
          <th class="actions last"></th>
        </tr>
      </thead>
      <%= render :partial => "photo", :collection => @photos %>
    <% end -%>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <%= link_to new_photo_path, :class => "btn", :id => "new_photo" do %>
        <i class="icon-picture"></i> New Photo
      <% end %>
    </div>
  </div>
</div>
