<% @page_title = "Photos" %>

<h2>Photos</h2>

<%= will_paginate @photos,
                  :page_links => false,
                  :previous_label => "&larr; Newer",
                  :next_label => "Older &rarr;" %>

<div class="row">
  <div class="col-sm-12">
    <%= table :class => "photos", :collection => @photos, :columns => 3, :id => :people do %>
      <thead>
        <tr>
          <th class="icon"></th>
          <th class="name">Title</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <%= render :partial => "photo", :collection => @photos %>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to new_photo_path, :class => "btn btn-default", :id => "new_photo" do %>
      <span class="glyphicon glyphicon-picture"></span> New Photo
    <% end %>
  </div>
</div>
