<% @page_title = "Mailing Lists: Not Found" %>

<h3>Mailing Lists</h3>
<%- @mailing_lists.each do |mailing_list| -%>
<div><%= link_to mailing_list.name, :action => 'index', :mailing_list_name => mailing_list.name %></div>
<%- end -%>
