<div class="row-fluid posts">
  <div class="span3">
    <%= link_to new_mailing_list_post_path(mailing_list), :class => "btn new" do %>New Post<% end %>
  </div>
  <div class="span6">
    <%= will_paginate posts,
                      :renderer => BootstrapPagination::Rails,
                      :page_links => false,
                      :previous_label => "&larr; Newer",
                      :next_label => "Older &rarr;" %>
  </div>
</div>
