<div class="row posts">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <%= will_paginate posts,
                      page_links: false,
                      previous_label: "&larr; Newer",
                      next_label: "Older &rarr;" %>
  </div>
</div>
