<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}: Reply Sent" %>

<table class="centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>
