<%= form_remote_tag(:url => {:action => 'update_name', :id => @person.to_param}) %>
  <%= text_field_tag 'name', @person.name, 
        :class => 'edit_in_place_text_field', 
        :id => "person_#{@person.id}_name_text_field" %><%= link_to image_tag('/images/icons/decline.png', :class => "cancel", :remote => true), 
      { :update => "person_#{@person.id}_name", 
        :url => { :action => "cancel", :id => @person.to_param} },
      { :class => "cancel" } %></form>
<script type="text/javascript" charset="utf-8">
  $('person_<%= @person.id %>_name_text_field').select();
</script>
