<%= form_tag preview_import_admin_people_path, :multipart => true, :id => "import_form" do %>
<div class="page_buttons centered clear">
  <label for="people_file">Import</label>
  <%= file_field_tag "people_file", :onchange => "$('#import_form').submit();".html_safe %>
  </div>
<% end -%>

<%= form_tag({}, {:id => "export_form"}) %>
  <div class="page_buttons centered clear">
    <select name="include" id="include">
      <option value="all">All</option>
      <option value="members_only" selected="selected">Current members only</option>
      <option value="print_cards">Print cards</option>
    </select>
    <select name="format" id="format">
      <option value="xls" selected="selected">Excel</option>
      <option value="ppl">FinishLynx</option>
      <option value="scoring_sheet">Scoring sheet</option>
      <option value="endicia">Endicia</option>
    </select>
    <%= button_tag "Export", :id => "export_button" %>
  </div>
</form>
