<% if categories.many? || (race && categories.present? && !race.category.in?(categories)) %>
<div class="event_info">
  <table class="event_races">
    <tbody>
      <%- categories.sort.each_row do |first_category, second_category| -%>
      <tr>
        <td class="race">
          <%= link_to first_category.name, bar_full_path(race.year, Discipline[race.discipline].to_param, first_category.friendly_param) %>
        </td>
        <td class="race">
          <%= link_to(second_category.name, bar_full_path(race.year, Discipline[race.discipline].to_param, second_category.friendly_param)) if second_category %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<%- end -%>
