@media (min-width: $screen-sm-min) {
  .form-horizontal .control-label {
    padding-left: 30px;
    padding-right: 0;
  }
}

.form-control {
  padding-left: 6px;
  padding-right: 6px;
}

label {
  color: $gray;
  font-weight: bold;
}

[type="text"] {
  color: $form-color;
}

.form-group {
  margin-bottom: 8px;
}

.form-horizontal .check-boxes {
  margin-bottom: $line-height-computed;

  .form-group {
    margin-bottom: 0;
  }
}

.checkbox {
  margin-bottom: 0;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 6px;
}

// Mysterious
.form-horizontal .form-control-static {
  padding-top: 6px;
}

[type="radio"],
[type="checkbox"] {
  margin: 2px 0 0;
}

legend {
  font-size: $font-size-base;
  font-weight: bold;
}

fieldset {
  padding-bottom: $line-height-computed;
}

.editable {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: -4px;
  margin-left: -3px;
  margin-top: -4px;
  min-height: $line-height-computed + 6;
  min-width: 40px;
  padding: 3px;

  input {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -4px;
    margin-left: -3px;
    margin-top: -3px;
    padding: 2px;
    position: absolute;
  }
}

.base .numeric .editable input {
  text-align: right;
  width: 80px;
}

.editable:hover {
  border: 1px solid $highlight-color;
}

.editable.editing {
  position: absolute;
}

.editable.editing,
.editable.editing:hover,
.editable.saving,
.editable.saving:hover {
  border: 1px solid transparent;
}

.editable.saving input {
  background-color: lighten($input-border, 30);
  box-shadow: none;
  border-color: $input-border;
  color: $input-border;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

table.base td.numeric.editable_column {
  padding-right: 4px;
}

.ui-datepicker {
  border-color: $highlight-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($highlight-color, .6);
  display: none;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($highlight-color, .6);
  outline: 0;
  padding: .2em .2em 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($highlight-color, .6);
  width: 17em;
}

.ui-datepicker.ui-widget-content {
  border-color: $highlight-color;
}

.bootstrap-datetimepicker-widget .active, .bootstrap-datetimepicker-widget .active:hover {
  background-color: #000;
  background-image: none;
  border-color: none;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget .active:hover, .bootstrap-datetimepicker-widget .active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled] {
  color: #fff;
  background-color: #000;
  *background-color: #000;
}

.bootstrap-datetimepicker-widget .active:active, .bootstrap-datetimepicker-widget .active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active {
  background-color: black \9;
}

div.col-sm-6.date_time_picker {
  padding-right: 0;
}

.ui-menu .ui-menu-item {
  list-style-image: none;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: none;
}
.ui-state-active .ui-icon {
  background-image: none;
}
.ui-state-highlight .ui-icon {
  background-image: none;
}

.date_of_birth select {
  width: 32%;
}

.field_with_errors .control-label,
.field_with_errors .help-block,
.field_with_errors .help-inline {
  // scss-lint:disable NameFormat
  color: #b94a48;
}

.field_with_errors .checkbox,
.field_with_errors .radio,
.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
  // scss-lint:disable NameFormat
  color: #b94a48;
}

.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
  // scss-lint:disable NameFormat
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.field_with_errors input:focus,
.field_with_errors select:focus,
.field_with_errors textarea:focus {
  // scss-lint:disable NameFormat
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
}

.btn {
  line-height: 1.18;
}
