.glyphicon-user:before {
  content: "\e004";
}

.glyphicon-print:before {
  content: "\e016";
}

.glyphicon-download:before {
  content: "\e201";
}

.glyphicon-search:before {
  content: "\e028";
}
.glyphicon-group:before {
  content: "\e044";
}

.btn .glyphicon-group {
  padding-right: 8px;
}

.glyphicon-star:before {
  content: "\e050";
}

.glyphicon-file:before {
  content: "\e037";
}

.glyphicon-list:before {
  content: "\e115";
}

.glyphicon-minus-sign:before {
  content: "\e192";
}

.glyphicon-info-sign:before {
  content: "\e196";
}

.glyphicon-plus-sign:before {
  content: "\e191";
}

.glyphicon-refresh:before {
  content: "\e082";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-edit:before {
  content: "\e151";
}

.glyphicon-flag:before {
  content: "\e267";
}

.glyphicon-picture:before {
  content: "\e139";
}

.glyphicon-calendar:before {
  content: "\e046";
}

.glyphicon-ok-circle:before {
  content: "\e194";
}

.glyphicon-remove:before {
  content: "\e193";
}

.glyphicon-ok_2:before {
  content: "\e207";
}

.glyphicon-ban:before {
  content: "\e200";
}

.glyphicon-shopping:before {
  content: "\e203";
}
