<% @page_title = 'Admin: Teams' %>

<h2>Teams</h2>

<%= render "shared/search", name: @name, placeholder: "Enter name to search" %>

<div class="row">
  <div class="col-sm-12">
    <%= table class: "teams", id: :teams do %>
      <tr>
        <th class="icon"></th>
        <th class="name">Name</th>
        <th>Aliases</th>
        <th class="check_box">Member</th>
        <th class="actions"></th>
      </tr>
      <%= render partial: "team", collection: @teams %>
      <% if @teams.empty? %>
      <tr>
        <%- if @name.blank? -%>
        <td colspan="5" class="not_found">Enter part of a team's name</td>
        <%- else -%>
        <td colspan="5" class="not_found">No teams found</td>
        <%- end -%>
      </tr>
      <% end %>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to new_admin_team_path, class: "btn btn-default", id: "new_team" do %>
      <span class="glyphicon glyphicon-group"></span>New Team
    <% end %>
  </div>
</div>
