<% if calculation %>
<div class="row event_info">
  <%= link_to "Rules", calculation_path(calculation) %>
  <% if calculation.event_id %>
    | <%= link_to("Categories", calculations_event_categories_path(event_id: calculation.event_id)) %>
    | <%= link_to("Scoring Results", event_results_path(event_id: calculation.event_id)) %>
  <% end %>
</div>
<% end %>
