<% if races.select(&:any_results?).select(&:visible?).many? %>
<div class="event_info">
  <table class="event_races">
    <tbody>
      <%- races.select(&:any_results?).select(&:visible?).sort.each_row do |first_race, second_race| -%>
      <tr>
        <%= tag.td class: (first_race&.rejected? ? %w( race rejected ) : :race) do %>
          <%= link_to first_race.name, "#race_#{first_race.id}" %>
        <% end %>
        <%= tag.td class: (second_race&.rejected? ? %w( race rejected ) : :race) do %>
          <%= link_to(second_race.name, "#race_#{second_race.id}") if second_race %>
        <% end %>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<%- end -%>
