<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}: #{@race.name}: #{@result.name}" %>

<% cache cache_key(@result) do %>
  <h2><%= link_to @race.event.name, calculations_event_results_path(event_id: @race.event) %>: <%= @race.name %></h2>
  <% ActiveSupport::Notifications.instrument "@results.calculations.racing_on_rails", race_id: @race.id, race_name: @race.full_name do %>
    <%= render partial: "calculations/sources/result", locals: { calculation: @calculation, race: @race, result: @result } %>
  <%- end -%>
  <p class="created_updated">Updated <%= @result.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
<%- end -%>
