<div id="racer-days-by-discipline" class="stats-chart"></div>
<div id="total-racer-days" class="stats-chart"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    Highcharts.chart('racer-days-by-discipline', {
      title: {
        text: 'By Discipline'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        }
      },
      series: <%= raw @racer_days_by_discipline.to_json %>
    });
    Highcharts.chart('total-racer-days', {
      title: {
        text: 'Total Racer Days'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        }
      },
      series: <%= raw @total_racer_days.to_json %>
    });
  });
</script>
