<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= ASSOCIATION.name %></title>
	<link rel="stylesheet" href="stylesheets/racing_on_rails.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  </head>
  <body>
	<div class="shadow_2">
		<div class="shadow_1">
		 	<div class="frame">
				<div class="nav" id="top">
					<h1><%= ASSOCIATION.name %></h1>
					<div class="breadcrumb"><a href="/"><%= ASSOCIATION.short_name %></a></div>
			 	</div>
			 	<div class="content">
				<%= @content_for_layout %>
			 	</div>
			 	<div class="nav" id="bottom">
					<div class="breadcrumb"><a href="/"><%= ASSOCIATION.short_name %></a></div>
			 	</div>
		 	</div>
		</div>
	</div>
  </body>
</html>